*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.canvas{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 70px;
   margin: 10px;
   padding: 20px;
}
.canvas-items{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button{
    height:70px;
    width: 70px;
    border-radius: 10px;
    position: relative;
    top: 20%;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
}

#grey{
    background-color: grey;
}

#white{
    background-color: white;
}

#blue{
    background-color:blue;
}

#yellow{
    background-color: yellow;
}