*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(113, 113, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-top: 20%;
}

h2{
   margin: 20px; 
}

.container{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: chocolate;
    margin-top: 20px;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-weight:bold ;
}