*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Constantia;
    background-color: rgb(58,5,25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
}

h1{
    color: white;
    margin: 20px;
}
#start-quiz{
    margin-left: 10px;
    top:-10px
}

.instruction-box{
    width: 80%;
    height: 380px;
    background-color: rgb(103,13,47);
    border-radius: 5px;
    box-shadow: 5px 5px 10px  rgb(58,5,25);
}

h2{
    color: white;
    margin: 20px;
    text-align: center;
}

ul{
   color: white;
   margin: 40px;
   font-size: 20px;
   padding: 10px;
}

.instruction-box p{
    color: white;
    margin: 20px;
    font-size: 25px;
    padding: 10px;
}

.quiz-box{
    width: 80%;
    height: 380px;
    background-color: rgb(103,13,47);
    border-radius: 5px;
    box-shadow: 5px 5px 10px  rgb(58,5,25);
    display: none;
    flex-direction: column;
    align-items:flex-start;
}

.question-box{
    width: 95%;
    height: 50px;
    background-color: rgb(165,56,96);
    border-radius: 5px;
    box-shadow: 5px 5px 10px  rgb(58,5,25);
    position: relative;
    top: 20px;
    align-self: center;
    color: antiquewhite;
    padding: 10px;
}

.options-box{
    width: 92.5%;
    height: auto;
    position: relative;
    top: 40px;
    left: 15px;
    background-color: rgb(165,56,96);
    border-radius: 5px;
    box-shadow: 5px 5px 10px  rgb(58,5,25);
    color: antiquewhite;
    padding: 20px;
}

button{
    position: relative;
    top: 60px;
    left: 15px;
    width: 100px;
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color:rgb(239,136,173);
    color: antiquewhite;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 5px 5px 10px  rgb(58,5,25);
}

.result-box{
    width: 80%;
    height: 180px;
    background-color: rgb(103,13,47);
    border-radius: 5px;
    box-shadow: 5px 5px 10px  rgb(58,5,25);
    display:none;
    flex-direction: column;
}

.result-box p{
    color: white;
    font-size: 35px;
    padding: 10px;
    text-align: center;
}

#restart-btn{
    margin-left: 5px;
    top:10px;
    margin-left: 410px;
}
