*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(12,43,78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(244,244,244);
    text-align: center;
    margin-top: 200px;
}

.main-container{
    width: 700px;
    height: auto;
    background-color:rgb(26,61,100);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    border-radius: 3px;
    border: 3px;
    padding: 5px;
    width: 500px;
    height: 20px;
    box-shadow: 3px 3px 10px rgb(4, 20, 38);
    margin-right: 40px;
    color: black;
}

button{
    border-radius: 3px;
    border: 3px;
    padding: 5px;
    width: 100px;
    height: 30px;
    box-shadow: 3px 3px 10px rgb(4, 20, 38) ;
    background-color: rgb(244,244,244);
    color: black;
}

.sub-container{
    width: 700px;
    height: auto;
    background-color:rgb(26,61,100);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;
}

ul{
    height: auto;
    width: 100%;
    padding: 5px;
    margin: 10px;
    background-color: rgb(74, 99, 127);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(4, 20, 38);
}

.list-item{
    padding: 10px 15px;
    margin: 8px 0;
    color: rgb(244,244,244);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(8, 30, 54);
}

#del-button{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: red;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(227, 226, 226);
    margin-top: 10px;
}